<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<!--footerFragment 선언-->
<div th:fragment="footerFragment">
    <footer class="footer jumbotron text-center navbar-fixed-bottom">
        <p>footer</p>
        <p>Footer</p>
    </footer>
</div>
</body>
</html>
